* {
  font-family: "poppins", "sans-serif";
  color: #333533;
}
body {
  background-color: #231942;
}
.header {
  background-color: #4a4e69;
}
.header .title {
  color: #9f86c0;
}
.header .position {
  color: #4a4e69;
}
.button {
  color: antiquewhite;
}
.lang {
  color: #ffd6ff;
}
a {
  text-decoration: none;
}
