* {
  font-family: "poppins", "sans-serif";
  color: #212529;
  box-sizing: border-box;
}
body {
  background-color: #f9f7f3;
}
.header {
  background-color: #8d99ae;
}
.header .title {
  color: black;
  font-size: 56px;
}

.header .position {
  color: #ffd6ff;
}
.button {
  color: #90e0ef;
}
.lang {
  color: #bbd0ff;
}
a {
  text-decoration: none;
}
