* {
  font-family: "poppins", "sans-serif";
  color: black;
  box-sizing: border-box;
}
body {
  background-color: #231942;
}
.header {
  background-color: #4a4e69;
}
.header .title {
  color: #9f86c0;
  font-size: larger;
  padding: 60px;
  border: 100px solid palevioletred;
  width: 200px;
}
.header .position {
  color: #4a4e69;
}
.button {
  color: antiquewhite;
}
.lang {
  color: #ffd6ff;
}
a {
  text-decoration: none;
}
